@import url(reset.css);
@font-face {
    font-family: 'Visby-CF',sans-serif;
    src: url(./font/Visby-CF/Demo_Fonts/Fontspring-DEMO-visbycf-medium.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Roxborough-CF',sans-serif;
    src: url(./font/Roxborough/Roxborough-CF.ttf) ;

}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 130px;
    width: 100%; 

    @media (max-width: 768px) {
        padding: 20px 16px;
        
    }
}
header img{
    width: 125.23px;
    height: 17.81px;
}

header nav{
    display: flex;
    gap: 32px;
}

header nav a{
    text-decoration: none;
    color: #000000;
    font-family: 'Visby-CF',sans-serif;

}

header button{
    background-color: #28887A;
    padding: 16px 26px;
    font-family: 'Visby-CF',sans-serif;
    border: none;
    color: white;
}

main {
    position: relative;
  }

.hero-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.background-yellow{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #FFD476;
    border-top-right-radius: 50%;
    z-index: 0;
}

.background-yellow div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;

}

.background-yellow div button{
    background-color: #28887A;
    padding: 16px 18px;
    font-family: 'Visby-CF',sans-serif;
    border: none;
    color: white;
    font-size: 16px;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 236px;
    
}

.background-gray{
    margin-top: 120px;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 71.67%;
    background-color: #F4F4F4;
    border-bottom-left-radius: 30%;
    z-index: 21; 
}

.information{
    position: relative;
    z-index: 23;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information h2{
    font-family: 'Roxborough-CF',sans-serif;
    font-size: 102px;
    font-weight: bold;
    width: 833px;
}

.information p{
    font-family: 'Visby-CF',sans-serif;
    font-size: 20px;
    width: 500px;
    color: #000000;
    text-align: justify;
}

.group-informations{
    display: flex;
    position: relative;
 
}

.group-reactangle{
    position: relative;
    display: flex;
   
}

.rectangle-gray{
    position: absolute;
    width: 270px;
    top: -15.42%;
    left: 13.85%;
    height: 478px;
    z-index: 2;
    background-color: #F4F4F4;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.rectangle-img {
    background-image: url(./corredor.png);
    position: relative;
    background-repeat: no-repeat;
    width: 270px;
    top: -8.08%;
    left:  50.06%;
    height: 478px;
    z-index: -1;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 10%;
}

.group{
    display: flex;
    position: relative;
    z-index: 5;
    left: 55%;
    max-width: 100vw ;
    flex-direction: column;
    gap: 104px;
    margin-top: 84px;

    @media (min-width: 1440px) {
        left: 110%;
    }
   
}

.container-numbers-information{
    display: flex ;
    gap: 84px;
}

.group-numbers{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.group div h2{
    font-family: 'Visby-CF',sans-serif;
    font-size: 94px;
    font-weight: bold;
    width: 200px;
}

.group div p{
    font-family: 'Visby-CF',sans-serif;
    font-size: 24px;
    max-width: 200px;
    color: #000000;
}

.group-email{
    display: flex;
    flex-direction: column;
    max-width: 546px;
    gap: 38px;
}

div .group-email h2{
    font-family: 'roxborough-CF',sans-serif;
    font-size: 42px;
    font-weight: bold;
    width: 465px;
}

div .group-email div{
    display: flex;
    
}

div .group-email div input{
    width: 358px;
    height: 66px;
    border: none;
}

div .group-email div input::placeholder{
    font-family: 'visby-CF',sans-serif;
    font-size: 20px;
}

div .group-email div button{
    background-color: #000;
    font-family: 'Visby-CF',sans-serif;
    border: none;
    color: white;
    font-size: 16px;
    width: 188px;
    height: 66px;
    cursor: pointer;
}

.group-imgs{
    position: relative;
    display: flex;
    gap: 98px;
    right:60.3%;
    top: 400px;
}

.group-imgs img{
    width: 132px;
    height: 206px;
}



.SecondPage{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 130px 0px 130px;
  background: #f8f8f8;
}

.SecondPage h2{
    font-family:'Roxborough-CF',sans-serif;
    font-size: 82px;
    width: 545px;
    font-weight: bold;
    margin-bottom: 90px;
}

.group-cards{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 2px;
}

.group-cards .card{
    width: 392px;
    height: 444px;
    padding: 48px 59px 48px 67px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    transition: background 0.5s ease-in-out;
    
}

.card:hover{
    background: white;
}

.group-cards .card img{
    margin-bottom: 44px;
}
.group-cards .card div{
    width: 267px;
    gap: 4px;
}

.group-cards .card div h3 {
    font-size: 32px;
    font-family: 'Visby-CF',sans-serif;
    line-height: 64px;
    font-weight: 600;
}

.group-cards .card div p{
    font-family: 'Visby-CF',sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    width: 251px;
    padding-right: 15px;
}

.card-img-arrow{
  width: 100%; 
}

.card-img-arrow img {
    padding: 20px 0px 20px 179px;
}

.text-gray{
    position: absolute;
    z-index: 15;
    left: 180px;
    bottom: 350px;
}

.text-gray h3{
    font-size: 54px;
    font-family: 'Visby-CF',sans-serif;
    width: 398px;
    text-align: start;
    line-height: 80px;
    color: #030605;
    opacity: 32%;
}

.arrow-black{
    margin-top: 40px;
}

.linesOfHero-left{
  position: absolute;
  top: 0;
  left: 8.59%; 
  bottom: 0;
  width: 1px;
  height: 70%;
  background-color: black;
  z-index: 20;
  
}

.linesOfHero-right{
  position: absolute;
  top: 0;
  left: 93.75%; 
  bottom: 0;
  width: 1px;
  height: 85%;
  background-color: black;
  z-index: 20;
  top: 220px;
}


.background-line{
    margin-top: 145px;
    position: absolute;
    top: 0;
    right: 0;
    width: 62%;
    height: 71.67%;
    background-color: transparent;
    border-bottom-left-radius: 30%;
    border: 1px solid #000;
    z-index: 21; 
}

.line-hero{
    width: 1px;
    height: 114px;
    background-color: #000;
    position: absolute;
    z-index: 6;
    left: 2.78%;
    top: 8.79%;
}

.lineOfHero-gray{
  position: absolute;
  top: 0;
  left: 29.5%; 
  bottom: 0;
  width: 1px;
  height: 804px;
  background-color: black;
  z-index: 20;
}

.line-final{
 width: 1px;
 background-color: #000;
 width: 100%;
 height: 1px;
 position: absolute;
 z-index: 1;
 bottom: 0;
 margin-left: 9.44%;
}

.line-group-informations{
 width: 1px;
 background-color: #000;
 height: 114px;
 position: absolute;
 z-index: 1;
 right: 0;
 margin-right: 2.43%;
 margin-top: 3.61%;
}

.line-secondpage-final{
    border-bottom: 1px solid black;
    width: 100vw;
    margin-top: 80px;
}

.blur-red{
    overflow: hidden;
    background-color: #E84F21;
    width: 511.46px;
    height: 511.46px;
    position: absolute;
    right: -20%;
    rotate: 15deg;
    top: 20%;
    border-radius: 100px;
    opacity: 0.1;
    transform: scaleX(-1);
    filter: blur(132px);
}

.thirdPage{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 80px 0px 380px 0px;
    background: white;
    width: 100%;
     min-height: 100vh;
    
  }
  
.container-text{
    display: flex;
    padding: 0px 130px;
    align-self: end;
}

.title-thirdpage{
    text-align: end;
    width: 884px;
    font-family:  'Roxborough-CF',sans-serif;
    font-size: 82px;
}

.blur-yellow{
    overflow: hidden;
    background-color: #F1D35D;
    width:304px;
    height:304px;
    position: absolute;
    left: -7%;
    rotate: 15deg;
    border-radius: 100px;
    opacity: 0.3;
    top: -15%;
    transform: scaleX(-1);
    filter: blur(132px);
}

.line-thirdpage-text{
 display: flex;
 justify-content: start;
 align-self: flex-start;
 background-color: #000;
 width: 100vw;
 height: 1px;
 position: absolute;
 z-index: 1;
 margin-top: 18%;
 right: 6%;
}

.container-reactlangle-grays{
    width: 100%;
    height: 100%;
}

.rectangle-gray-primary{
    width: 640px;
    height: 600px;
    background-color: #E0E3E1;
    margin-top: 80px;
    position: relative;
    z-index: 20;
    
}

.rectangle-white-primary{
    width: 640px;
    height: 600px;
    border-top-right-radius: 50px;
    background-color: white;
    position: absolute;
    z-index: 21;
    top: 54%;
    left: 35%;
}

.line-rectangle-gray{
    background-color: #000;
    width: 560px;
    top: 53.9%;
    left: 50%;
    height: 1px;
    position: absolute;
    z-index: 21;
}

.rectangle-gray-second{
    position: absolute;
    width: 55.76%;
    height: 39.72vh;
    background-color: #F4F4F4;
    border-bottom-right-radius: 30%;
    z-index: 23; 
    left: 37%;
    bottom: 6%;
    
}

.line-second-rectangle{
    width: 1px;
    height: 365px;
    background:black;
    position: absolute;
    left: 37.5%;
    z-index: 35;
    bottom: -310px;
}

.background-yellow-thirdpage{
    position: absolute;
    left:40% ;
    top: 60%;
    width: 768px;
    height: 578px;
    background-color: #FFD476;
    border-top-right-radius: 50%;
    z-index: 21;
    margin-bottom: 60px;
}

.group-text{
    display: flex;
    flex-direction: column;
    width: 697px;
    height: 100%;
    justify-content: end;
    align-items: center;
    padding: 0px 0px 60px 60px;
    gap: 41px;
}
.group-text p{
    font-family: 'Visby-CF',sans-serif;
    font-size: 20px;
    width: 697px;
    color: #000000;
}

.group-text div {
    display: flex;
    justify-content: space-between;
    width: 100%;   
}

.group-text div button{
    background-color: #28887A;
    padding: 16px 28px;
    font-family: 'Visby-CF',sans-serif;
    border: none;
    color: white;
}

.line-thirdpage-final{
 width: 1px;
 background-color: #000;
 width: 100%;
 height: 1px;
 position: absolute;
 z-index: 1;
 bottom: -310px;
 margin-left: 9.44%;
}

.fourthPage{
    display: flex;
    flex-direction: column;
    position: relative;
}

.fourthPage h2{
    font-family: 'Roxborough-CF',sans-serif;
    font-size: 82px;
    width: 827pxpx;
    font-weight: bold;
    margin-bottom: 90px;
    padding: 0px 130px;
}

.primary-gray-fourthpage{
    width: 705px;
    height: 600px;
    background-color: #E0E3E1;
    position: relative;
    z-index: 20;
    
}

.primary-white-fourthpage{
    width: 285px;
    height: 450px;
    background-color: white;
    position: absolute;
    z-index: 21;
    bottom: -1%;
    left: 32.8%;
    border-top-left-radius: 100%;
}

.second-gray-fourthpage{
    position: absolute;
    width: 265px;
    height: 415px;
    background-color: #E0E3E1;
    border-top-left-radius: 100%;
    z-index: 23; 
    left: 34.5%;
    bottom: 0.1%;
}

.third-gray-fourthpage{
    width: 705px;
    height: 600px;
    background-color: #E0E3E1;
    position: absolute;
    z-index: 20;
    left: 58%;
    bottom: 0.1%;
}

.second-white-fourthpage{
    width: 285px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 21;
    bottom: 18%;
    left: 58%;
    border-bottom-right-radius: 100%;
}

.four-gray-fourthpage{
    position: absolute;
    width: 265px;
    height: 415px;
    background-color: #E0E3E1;
    z-index: 23; 
    bottom: 21.5%;
    left: 57.5%;
    border-bottom-right-radius: 100%;
}

.fourthPage p{
    position: absolute;
    bottom: -70px;
    padding: 0px 130px;
    font-family: 'Visby-CF',sans-serif;
    font-size: 20px;
}

.line-div-final{
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 6.44%;
}

.line-fourth-final{
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 6.44%;
}

.fivethPage{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
   
}

.fivethPage h2{
    font-family: 'Roxborough-CF',sans-serif;
    font-size: 80px;
    width: 1094px;
    font-weight: bold;
    margin-left: 96px;
    text-align: end;
    margin-bottom: 90px;
}

.fivethPage div {
    width: 100%;
}

.fivethPage div .gray-fourthpage{
    width: 1200px;
    background: #E0E3E1;
    height: 580px;
    position: relative;
    z-index: 21;
}

.fivethPage div .yellow-fourthpage{
     width: 1200px;
    background: #FFD476;
    height: 290px;
    position: relative;
    border-bottom-left-radius: 60%;
    z-index: 21;
    display: flex;
}

.fivethPage div .yellow-fourthpage .group-text-yellow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 60px 0px 270px;
}

.fivethPage div .yellow-fourthpage .group-text-yellow  div{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.fivethPage div .yellow-fourthpage .group-text-yellow
div h3{
    font-family: "visby-CF",sans-serif;
    font-size: 46px;
}

.fivethPage div .yellow-fourthpage .group-text-yellow div p{
    font-family: 'Visby-CF',sans-serif;
    font-size: 20px;
    width: 697px;
    line-height: 31px;
}

.fivethPage div .yellow-fourthpage .group-text-yellow button{
    display: flex;
    background-color: #28887A;
    padding: 16px 18px;
    font-family: 'Visby-CF',sans-serif;
    border: none;
    color: white;
    gap: 10px;
}

.sixth{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
}

.sixth .group-title-sixth{
    display: flex;
    justify-content: space-between;
    margin: 0px 180px 90px 130px;
}

.sixth .group-title-sixth h2{
    font-size: 82px;
    font-family: 'Roxborough-CF', sans-serif;
}

.sixth .container-informations{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding: 0px 80px;
}

.container-informations .gray-sixth{
    width: 265px;
    height: 410px;
    background-color: #E0E3E1;
    border-bottom-right-radius: 95%;
}

.container-informations .group-text-sixth{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.container-informations .group-text-sixth h3{
    font-family: 'Visby-CF', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #000;
}

.container-informations .group-text-sixth p{
    font-family: 'Visby-CF', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #000;
    line-height: 52px;
    width: 815px;
}

.container-informations .group-text-sixth h4{
    font-family: 'Visby-CF', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #5C5E5E;
}

.group-arrows{
 margin-left: 450px;
 margin-top: 40px;
}

.container-informations .group-text-sixth  .arrow-black-sixthpage{
    transform: rotate(180deg);
}

.line-sixth{
    width: 1px;
    height: 510px;
    background: black;
    position: absolute;
}

.seventh {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 100px;
}

.background-yellow-seventh{
    background: #FFD476;
    width: 100%;
    height: 566px;
    border-bottom-right-radius: 38%;
    position: relative;
    z-index: 21;
}

.group-seventh{
    display: flex;
    flex-direction: column;
    gap: 38px;
    padding: 80px 0px 100px 130px;
}

.group-seventh h2{
    font-family: 'Roxborough-CF',sans-serif;
    font-size: 82px;
    font-weight: bold;
    width: 697px;
}

.group-seventh p{
    font-family: 'Visby-CF',sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 815px;
    line-height: 34px;
}

.group-seventh div{
    display: flex;
    gap: 448px;
}

.group-seventh div button{
    display: flex;
    background-color: #28887A;
    padding: 16px 18px;
    font-family: 'Visby-CF',sans-serif;
    border: none;
    color: white;
    gap: 10px;
}

.gray-seventh{
    width: 270px;
    height: 408px;
    background: #E0E3E1;
    position: absolute;
    left: 75%;
    border-bottom-right-radius: 58%;
    top: -0.3%;
}

footer{
    
    display: flex;
    flex-direction: column;
}

footer .container-footer{
    display: flex;
    align-items: center;
    padding: 100px 130px 0px 130px;
    justify-content: center;
    gap: 92px;
}

footer div img{
    width: 293px;
    height: 42px;
    margin-bottom: 32px;
}

footer .group-logo p{
    width: 293px;
    line-height: 34px;
    font-size: 20px;
    font-family: 'Visby-CF',sans-serif;
}

.group-informations-footer{
    display: grid;
    grid-template-columns: repeat(4,128px);
    gap: 50px;
}

.group-informations-footer h2{
    font-family: 'Visby-CF',sans-serif;
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
}

.group-informations-footer p{
    font-family: 'Visby-CF',sans-serif;
    font-size: 18px;
    width: 148px;
    margin-bottom: 10px;
    color: #5C5E5E;
    font-weight: 500;
}

.line-final-footer{
    width: 100%;
    height: 1px;
    background-color: #000;
    margin: 80px 0px 0px -130px;
}

.copyright-footer{
    padding: 45px 130px;
    display: flex;
    justify-content: space-between;
}

.container-footer .text-copyright{
width: 306px;
}

.text-privacy{
    display: flex;
    gap: 45px;
}

.MordernWhite{
    position: absolute;
    left: 138px;
    top: -80px;
}